<%= form_for(@target, html: {class: 'frontend formSubmitLoaderJS'}) do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field dob">
    <%= f.label :dob %>
    <%= f.text_field :dob, :databehaviour=>"datepicker", :placeholder=>"01.01.1980" %>
  </div>

  <div class="field gender">
    <%= f.label :gender %>

    <%= content_tag :div, class: 'female' do %>
      <%= f.radio_button :gender, :female, class: 'hidden' %>
      <%= f.label :gender_female %>
    <% end %>

    <%= content_tag :div, class: 'male' do %>
      <%= f.radio_button :gender, :male, class: 'hidden' %>
      <%= f.label :gender_male %>
    <% end %>
  </div>

  <%= content_tag :div, class: 'targetSubmitWrap' do %>
    <%= f.submit %>
    <%= content_tag :div, class: 'targetButton button customFormButtonJS hidden' do %>
      <%= content_tag :span, t('.make') %>
    <% end %>
  <% end %>
<% end %>
