<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @target.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @target.gender %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @target.contacts %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @target.dob %>
</p>

<p>
  <strong>Alert age:</strong>
  <%= @target.alert_age %>
</p>

<p>
  <%= content_tag :strong, 'photos' %>
  <%= content_tag :br %>
  <% @target.photos.each do |p| %>
    <%= image_tag(p.file) %>
    <%= content_tag :br %>
    <%= p.note %>
  <% end %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
